/* *{
    border: solid 1px black;
} */

.container{
    display: flex;
}


.image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    flex: 1 1 auto;
    background: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;
}


.logoContainer{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.333);

    
}

.logo{
    flex: 1 1 auto;
    width:auto;
    height: 25vh;
    background: url("odin-lined.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
    
}

@font-face{
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

.logoTxt{
    flex:1 1 auto;
    font-family: norse-bold, sans-serif;
    color: white;
    font-size: 64px;
    

}

.body{
    flex: 4 4 auto;
    display: flex;
    flex-direction: column;
}

.body>*{
    flex: 1;
    /* background-color: white; */
}
.topCard{
    position: relative;
}
.topTxt{
    padding: 5%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.middleCard{
    box-shadow: 0px 0px 5px black;
}


fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}

p{
    padding-right: 28px;
}

.bottomCard{
    padding: 24px;
    
}
